[submodule "contracts/intent/lib/the-compact"]
	path = contracts/intent/lib/the-compact
	url = https://github.com/Uniswap/the-compact
[submodule "contracts/oft/lib/LayerZero-v2"]
	path = contracts/oft/lib/LayerZero-v2
	url = https://github.com/LayerZero-Labs/LayerZero-v2
[submodule "contracts/oft/lib/solidity-bytes-utils"]
	path = contracts/oft/lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
[submodule "contracts/oft/lib/openzeppelin-contracts"]
	path = contracts/oft/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/oft/lib/forge-std"]
	path = contracts/oft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/vault/lib/forge-std"]
	path = contracts/vault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/vault/lib/openzeppelin-contracts"]
	path = contracts/vault/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/vault/lib/openzeppelin-contracts-upgradeable"]
	path = contracts/vault/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "contracts/smart-account/lib/kernel"]
	path = contracts/smart-account/lib/kernel
	url = https://github.com/zerodevapp/kernel
[submodule "contracts/smart-account/lib/forge-std"]
	path = contracts/smart-account/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/smart-account/lib/openzeppelin-contracts"]
	path = contracts/smart-account/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = release-v5.6
[submodule "contracts/account-abstraction/lib/forge-std"]
	path = contracts/account-abstraction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/account-abstraction/lib/kernel"]
	path = contracts/account-abstraction/lib/kernel
	url = https://github.com/zerodevapp/kernel
[submodule "contracts/account-abstraction/lib/openzeppelin-contracts-upgradeable"]
	path = contracts/account-abstraction/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "contracts/vault/lib/vault-v2"]
	path = contracts/vault/lib/vault-v2
	url = https://github.com/outbe/outbe-vault-v2
