[Unit]
Description=Outbe OCOMP one-unit worker activation socket
PartOf=outbe-ocomp.target

[Socket]
ListenStream=/run/outbe-ocomp/worker.sock
Accept=yes
MaxConnections=4
MaxConnectionsPerSource=4
SocketUser=outbe-ocomp-supervisor
SocketGroup=outbe-ocomp-worker-launch
SocketMode=0660
RemoveOnStop=yes

[Install]
WantedBy=outbe-ocomp.target
