[Unit]
Description=Outbe Off-chain Computation PoC roles
Wants=outbe-ocomp-snapshot-exporter.service
Wants=outbe-ocomp-supervisor.service
Wants=outbe-ocomp-worker.socket
After=outbe-validator.service
