NETWORK=
PRIVATE_KEY=
DEPLOYER_ADDRESS=
BRIDGE_ADDRESS=

BSC_RPC=https://data-seed-prebsc-2-s1.bnbchain.org:8545
OUTBE_RPC=https://rpc.testnet.outbe.net/
BSC_CHAIN_ID=97
OUTBE_CHAIN_ID=54322345

BSC_USDT_TOKEN=
BSC_USDT_BRIDGE=

OUTBE_USDT0_TOKEN=
OUTBE_USDT0_BRIDGE=
