# [required] RPC endpoint
NETWORK=
# [required] Deployer private key; its address becomes the Whitelist admin,
# and is part of the registry's address - always deploy from the same key
DEPLOYER_PK=
# [optional] csv of addresses to seed the whitelist with
WHITELIST_INITIAL=
